@page "/"
@inject IProjectRepository ProjectRepo
@implements IDisposable
<h2>
    Current project @(ProjectRepo.SelectedProject?.ProjectName ?? "None")
</h2>
<div class="project-list">
    @foreach (var project in availableProjects)
    {
        <div class="project-item @(project.ProjectID == ProjectRepo.SelectedProject?.ProjectID ? "selected" : "")"
             @onclick="() => SelectProject(project)">
            @project.ProjectID
        </div>
    }
</div>

@code {
    private List<Project> availableProjects = new();

    protected override async Task OnInitializedAsync()
    {
        availableProjects = await ProjectRepo.GetAllAsync();
        ProjectRepo.OnSelectedProjectChanged += StateHasChanged;
    }

    private void SelectProject(Project project)
    {
        ProjectRepo.SetSelectedProject(project);
    }

    public void Dispose()
    {
        ProjectRepo.OnSelectedProjectChanged -= StateHasChanged;
    }
}