@page "/viewsections";
@inject IProjectSectionRepository projectSectionRepository;
@using ThesisWebApp.WebUi.State;
@inject SelectionService ss;
<h3>Project Sections</h3>
<div>
    @if(projectSections == null || projectSections.Count == 0)
    {
        <p>Loading...</p>
    }
    else if(projectSections.Any())
    {
        @foreach (var sectionItem in projectSections)
        {
            <div class="mb-3 p-3 border rounded">
                <h5>@sectionItem.SectionName</h5>
                <p>Sheet Name: @sectionItem.SheetName</p>
                <p>Sort Order: @sectionItem.SortOrder</p>
            </div>
            <a href=@($"/edit/{@sectionItem.SectionID}")>
                Edit
            </a>
            <button @onclick="() => DeleteSection(sectionItem.SectionID)">
                Delete
            </button>
        }

       
    }
    else
    {
        <div>
            <a>No project sections available.</a>
        </div>
    }
)
</div>

@code {
    public List<ProjectSection> projectSections { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (ss.SelectedProject != null)
            projectSections = await projectSectionRepository.GetByProjectIdAsync(ss.SelectedProject.ProjectID);
        else
        {
            projectSections = new List<ProjectSection>();
        }
        
    }
    protected async Task DeleteSection(int id)
    {
        await projectSectionRepository.DeleteByIdAsync(id);
    }
}
